*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 38px;
  top: 54px;
  width: 918px;
  height: 100px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 49px;
  top: 248px;
  width: 412px;
  height: 77px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 49px;
  top: 373px;
  width: 449px;
  height: 187px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 58px;
  top: 610px;
  width: 354px;
  height: 61px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 462px;
  top: 222px;
  width: 282px;
  height: 482px;
	animation: zoomIn 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 497px;
  top: 165px;
  width: 583px;
  height: 558px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}