*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
  left: 959px;
  top: 0px;
  width: 121px;
  height: 134px;
	z-index: 25;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

video {
  position: absolute;
  left: 26px;
  top: 176px;
  width: 1028px;
  height: 578px;
  z-index: 10;
}