*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
  left: 959px;
  top: 0px;
  width: 121px;
  height: 134px;
	z-index: 25;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 141px;
  top: 395px;
  width: 794px;
  height: 304px;
	animation: zoomIn 0.7s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 10;
}

.s3 {
	position: absolute;
  left: 168px;
  top: 172px;
  width: 778px;
  height: 185px;
	animation: fadeInUp 0.7s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 157px;
  top: 346px;
  width: 789px;
  height: 48px;
	animation: zoomIn 0.7s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 7;
}

.s5 {
	position: absolute;
  left: 948px;
  top: 506px;
  width: 99px;
  height: 109px;
	animation: flashIt 5s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes flashIt {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}