*{
	margin: 0px;
	padding: 0px;
}

.home {
	position: absolute;
  left: 959px;
  top: 0px;
  width: 121px;
  height: 134px;
	z-index: 25;
}

.video {
	position: absolute;
  left: 741px;
  top: 16px;
  width: 129px;
  height: 133px;
	z-index: 25;
}


.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 48px;
  top: 148px;
  width: 414px;
  height: 186px;
	animation: zoomIn 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 32px;
  top: 378px;
  width: 462px;
  height: 58px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 44px;
  top: 476px;
  width: 443px;
  height: 248px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 7;
}

.s5 {
	position: absolute;
  left: 552px;
  top: 109px;
  width: 477px;
  height: 615px;
	animation: fadeInRight 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 784px;
  top: 50px;
  width: 46px;
  height: 46px;
	animation: flashLong 2s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 15;
}

.s7 {
	position: absolute;
  left: 23px;
  top: 730px;
  width: 1034px;
  height: 65px;
	animation: none 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 20;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}