* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.video1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index:5;
}

.button1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 50;
}

.video2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index:10;
}

.button2 {
	position: absolute;
  left: 351px;
  top: 640px;
  width: 324px;
  height: 97px;
	display: none;
	z-index: 100;
}

.video3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index:10;
}