* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.video1 {
	position: absolute;
	width: 1024px;
	height: 670px;
	z-index:5;
}

.button1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 999;
}

.button2 {
	position: absolute;
  left: 287px;
  top: 236px;
  width: 449px;
  height: 211px;
	display: none;
	z-index: 999;
}

.video2 {
	position: absolute;
	width: 1024px;
	height: 670px;
	display: none;
	z-index:10;
}