* {
	margin: 0px;
	padding: 0px;
}

.background, .wordWrap {
	position: absolute;
	width: 1024px;
	height: 768px;
	text-align: center;
	z-index: 1;
}

.video1 {
	position: absolute;
	width: 1024px;
	height: 670px;
	display: none;
	z-index: 15;
}

.video2 {
	position: absolute;
	width: 1024px;
	height: 670px;
	display: none;
	z-index: 20;
}







.anime {
	position: absolute;
	left: 466px;
    top: 106px;
	font-family: Arial;
	font-weight: 550;
	color: #e7dd90;
	text-align: left;
	font-size: 3.8em;
	animation: bounceIn 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 30;
}

.form {
	position: relative;
	text-align: center;
	margin: auto;
	top: 30px;
	z-index: 5;
}

.databox {
	position: absolute;
	left: 344px;
    top: 230px;
    width: 337px;
    height: 63px;
	font-family: Papyrus;
	font-size: 1.5em;
	border-radius: 8px;
	border: none;
	z-index: 5;
}

.btn {
	position: absolute;
	top: 300px;
	border: none;
	z-index: 5;
}

.btn-success {
	position: relative;
    width: 162px;
    height: 53px;
	margin: 8px;
	font-size: 1.3em;
	border-radius: 8px;
	border: none;
	z-index: 5;
}

.btn-danger {
	position: relative;
    width: 162px;
    height: 53px;
	margin: 8px;
	font-size: 1.3em;
	border-radius: 8px;
	border: none;
	z-index: 5;
}