*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
  z-index: 10;
}